 /* * {
     border: 1px solid #f00 !important;
   }  */
body {
  width: 1600px;
  margin: 0 auto;
  background-image: url("https://images6.alphacoders.com/101/thumb-1920-1014033.jpg");
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  
  
}
h1, h3, h4, h5 {
  margin: 2%;
 
}

img {
  width: 45%;
  
}
